html 
{
    padding:0px;
    margin:0px;
    border:0px;
	overflow: hidden;
	-webkit-font-smoothing: antialiased;
}
body {
	width: 100%;
	height: 100%;
	max-height:100%;
	padding:0px;
	margin:0px;
	border:0px;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	overflow: hidden;
}
::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 3px;
    height:2px;
}
::-webkit-scrollbar-thumb {
    background-clip: content-box;
    background-color: #D9E0E5;
}
::-webkit-scrollbar-corner {
    background-color: #D9E0E5;
}
.deskPanel{
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	overflow: hidden;
	font: 12px Arial,Tahoma,微软雅黑;
	cursor: default;
	z-index: 0;
	display:none;
}
.deskPanel .coverlogo_i{
	position: absolute;
	left: 50%;
	top: 50%;
	width: 140px;
	height: 140px;
	margin-left:-70px;
	margin-top:-70px;
}
.deskPanel .coverbox_i{
	position: absolute;
	left: 50%;
	top: 50%;
	width: 140px;
	height: 140px;
	margin-left:-70px;
	margin-top:-70px;
}
.deskPanel .coverlogo_k{
	position: absolute;
	left: 50%;
	top: 50%;
	width: 100px;
	height: 100px;
	margin-left:-50px;
	margin-top:-50px;
}
.deskPanel .coverbox_k{
	position: absolute;
	left: 50%;
	top: 50%;
	width: 100px;
	height: 100px;
	margin-left:-50px;
	margin-top:-50px;
}
.deskPanel .coverlogo_d{
	position: absolute;
	left: 50%;
	top: 50%;
	width: 90px;
	height: 90px;
	margin-left:-45px;
	margin-top:-45px;
}
.deskPanel .coverbox_d{
	position: absolute;
	left: 50%;
	top: 50%;
	width: 90px;
	height: 90px;
	margin-left:-45px;
	margin-top:-45px;
}
.deskPanel .coverlogo_m{
	position: absolute;
	left: 50%;
	top: 50%;
	width: 96px;
	height: 96px;
	margin-left:-48px;
	margin-top:-48px;
}
.deskPanel .coverbox_m{
	position: absolute;
    left: 50%;
    top: 50%;
    width: 96px;
    height: 96px;
    margin-left: -48px;
    margin-top: -48px;
}
.deskPanel .loading{
	position: absolute;
	left: 50%;
	top: 50%;
	width: 120px;
	height: 120px;
	margin-left:-60px;
	margin-top:-80px;
}
.deskPanel .kanbanPanel {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-family: 微软雅黑;
    cursor: default;
    z-index: 0;
}
.deskPanel .kanbanHide {
    position: absolute;
    right: 40px;
    bottom: 30px;
    width: 96px;
    height: 96px;
    background: url(../images/hide.png);
    opacity: 0.5;
    cursor: pointer;
}
.deskPanel .kanbanHide:hover {
    opacity: 1;
}
.deskPanel .toolbar{
	position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    height: 40px;
    background-color: #0077d6;
    z-index:999;
}
.deskPanel .toolbar .title{
	position: absolute;
    left: 45px;
    top: 8px;
    right: 0px;
    height: 20px;
    width: 200px;
    font-size: 13pt;
    color: #FFFFFF;
}
.deskPanel .toolbar .bubble{
	position: absolute;
	left: 10px;
	top: 5px;
	width:28px;
	height:28px;
	padding: 1px;
	cursor:pointer;
    border-radius: 100% 100% 100% 100%;
    -moz-border-radius: 100% 100% 100% 100%;
    -webkit-border-radius: 100% 100% 100% 100%;
    box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.2);
    background: #fdfdfd;
    background: -moz-linear-gradient(#ffffff, #fdfdfd) repeat scroll 0 0 transparent;
    background: -webkit-linear-gradient(#ffffff, #fdfdfd) repeat scroll 0 0 transparent;
}
.deskPanel .toolbar .bubble:hover
{
	box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.3);
    background: #ffff99;
	background: -moz-linear-gradient(#ffff99, #fdfdfd) repeat scroll 0 0 transparent;
	background: -webkit-linear-gradient(#ffff99, #fdfdfd) repeat scroll 0 0 transparent;
}
.deskPanel .toolbar .bubble img {
	width:28px;
	height:28px;
    -moz-transition-duration: 4s;
    -moz-transition-timing-function: linear;
    -moz-transition-delay: 4s;
    border-radius: 100% 100% 100% 100%;
    -moz-border-radius: 100% 100% 100% 100%;
    -webkit-border-radius: 100% 100% 100% 100%;
}
.deskPanel .toolbar .back{
	position: absolute;
    right: 10px;
    top: 3px;
    width: 30px;
    height: 30px;
    cursor:pointer;
    opacity:0.9;
}
.deskPanel .toolbar .back:hover {
    opacity:1;
}
.userPanel{
    position: absolute;
	left: 0px;
	top: 0px;
	bottom: 0px;
	right: 0px;
	overflow: hidden;
	font: 12px Arial,Tahoma,微软雅黑;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000',endColorstr='#000000');
    background-color:rgba(0, 0, 0, 0.6);
	display:none;
	z-index:999;
}
.desktopPanel{
	position: absolute;
	left: 0px;
	top: 0px;
	right: 0px;
	bottom: 0px;
}
#deskContainer {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
}
#loadingCover {
	position: absolute;
	left: 0px;
	top: 0px;
	z-index: 9999;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background-color:#000000;
}
#loadingLogo {
	position: absolute;
    left: 50%;
    top: 50%;
    padding: 1px;
    margin: -100px 0 0 -48px;
    width: 96px;
    height: 96px;
    border-radius: 100% 100% 100% 100%;
    -moz-border-radius: 100% 100% 100% 100%;
    -webkit-border-radius: 100% 100% 100% 100%;
}
#loadingLogo img{
	width: 96px;
	height: 96px;
	border-radius: 100% 100% 100% 100%;
	-moz-border-radius: 100% 100% 100% 100%;
	-webkit-border-radius: 100% 100% 100% 100%;
}
#loadingText {
	position: absolute;
	left: 50%;
	top: 50%;
	margin: 5px 0 0 -80px;
	width: 160px;
	height: 25px;
	font-family: Arial,Tahoma,微软雅黑;
	font-size: 12pt;
	color: white;
	text-shadow: #666 1px 1px 2px;
	text-align: center;
	cursor: default;
}
#loadingBar {
	position: absolute;
	left: 50%;
	top: 50%;
	margin: 30px 0 0 -50px;
	width: 100px;
	height: 1px;
	overflow: hidden;
	font-size: 0;
	border: 1px solid #999;
	background: black url("../images/starting_bar.gif");
	-webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}
.loadingVer{
	position: absolute;
	left: 50%;
	top: 100%;
	margin: -20px 0 0 -200px;
	width: 400px;
	height: 25px;
	font-family: Arial,Tahoma,微软雅黑;
	font-size: 10.5px;
	color: #fafafa;
	opacity: 0.7;
	text-shadow: #666 1px 1px 2px;
	text-align: center;
	cursor: default;
}
#warningCover {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 100000;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background: #000000;
	display:none;
}
#warningLogo {
	position: absolute;
	left: 50%;
	top: 50%;
	margin: -110px 0 0 -64px;
	width: 128px;
	height: 128px;
	background: url(../images/warning.png);
	cursor: pointer;
}
#warningText {
	position: absolute;
    left: 50%;
    top: 50%;
    margin: 30px 0 0 -210px;
    width: 420px;
    height: 50px;
    font-family: Arial,Tahoma,微软雅黑;
    font-size: 16px;
    color: white;
    text-shadow: #666 1px 1px 2px;
    text-align: center;
    cursor: default;
}
#mainPanel{
	position: absolute;
	left: 0px;
	top: 40px;
	right:0px;
	bottom:0px;
}
#mainPanel .left_panel {
    position: absolute;
    left: 0px;
    top: 15px;
    width: 180px;
    bottom: 0px;
    overflow-x: hiden;
    overflow-y: auto;
}
#mainPanel .left_panel .item_h
{
    position: relative;
    height: 40px;
    width: 180px;
    cursor: pointer;
    font-size: 11pt;
    color: #626262;
    padding-left: 60px;
    padding-top: 10px;
    font-weight: bold;
    margin-bottom: 1px;
    border-left: 7px solid #0076D6;
    background-color: #f2f3f8;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
#mainPanel .left_panel .item_h .icon {
    position: absolute;
    left: 32px;
    top: 10px;
    width: 20px;
    height: 20px;
}
#mainPanel .left_panel .item_h .bar
{
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    width: 6px;
    background-color: #84BF41;
}
#mainPanel .left_panel .item_h .bar:before{
	position: absolute;
    top: 14px;
    left: 6px;
    display: inline-block !important;
    border-top: 3px solid transparent;
    border-left:3px solid #84BF41;
    border-bottom: 3px solid transparent;
    content: '';
}
#mainPanel .left_panel .item_m
{
    position: relative;
    margin-bottom: 8px;
    margin-top: 5px;
}
#mainPanel .left_panel .item
{
    position: relative;
    height: 20px;
    padding-top: 5px;
    color: #adb8c1;
    cursor: pointer;
    font-size: 10pt;
    text-align: center;
}
#mainPanel .left_panel .item:hover {
    color:#0076d6;
}
#mainPanel .left_panel .active {
    color:#0076d6;
}
#mainPanel .left_panel .item .left
{
    position: absolute;
    padding: 3px;
    top: 0px;
    left: 0px;
    bottom: 0px;
    width: 34px;
}
#mainPanel .left_panel .item .right
{
    position: absolute;
    padding-top: 12px;
    padding-left: 15px;
    top: 0px;
    left: 40px;
    bottom: 0px;
    right: 0px;
    text-align: left;
    font-size: 10pt;
}
#mainPanel .left_panel .item .left img
{
    position: absolute;
    top: 5px;
    left: 5px;
    width: 30px;
    height: 30px;
}
#mainPanel .center_panel {
    position: absolute;
    left: 182px;
    top: 1px;
    right: 0px;
    bottom: 0px;
    background-color: #f2f3f8;
}
@font-face 
{
    font-family: 'led-digital';
    font-style: normal;
    font-weight: normal;
    src: url('../font/led/led.eot');
	src: url('../font/led/led.eot?#iefix') format('embedded-opentype'),
	     url('../font/led/led.woff') format('woff'),
	     url('../font/led/led.ttf') format('truetype');
}
@font-face 
{
    font-family: 'BebasNeue';
    font-style: normal;
    font-weight: normal;
    src: url('../font/BebasNeue/BebasNeue.otf');
}