.service
{
    position: absolute;
	left: 0px;
	top: 0px;
	right:0px;
	bottom:0px;
    font-family: Microsoft YaHei;
	background-color: #0A1233;
}
.service .waiting{
	position: absolute;
	left: 0;
	top: 0;
	right:0px;
	bottom:0px;
	background:#000000;
	opacity:0.5;
}
.service .waiting img{
	position: absolute;
	left: 50%;
	top: 50%;
	width:100px;
	height:100px;
	margin-left:-50px;
	margin-top:-50px;
}
.service .menu
{
    position: absolute;
	left: 0px;
	top: 0px;
	right:0px;
	height:80px;
	padding:18px;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.service .menu .status
{
    position: relative;
    float:left;
    width: 160px;
    height: 44px;
    text-align: center;
    line-height: 44px;
    font-size: 16px;
    color: #ffffff;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
	background: -webkit-linear-gradient(left, #1BD0D8 , #33DEB4);
    background: -o-linear-gradient(right, #1BD0D8 , #33DEB4);
    background: -moz-linear-gradient(right, #1BD0D8 , #33DEB4);
    background: linear-gradient(to right, #1BD0D8 , #33DEB4);
}
.service .menu .btn
{
    position: relative;
    float: left;
    width: 60px;
    height: 44px;
    margin-left: 18px;
}
.service .menu .btn .start
{
    position: absolute;
    top: 11px;
    left: 0px;
    width: 22px;
    height: 22px;
    cursor:pointer;
    background: transparent url(/Resources/images/start.png);
    background-size: 22px 22px;
	opacity:0.9;
}
.service .menu .btn .start_disable
{
    cursor: not-allowed;
    background: transparent url(/Resources/images/start_disable.png);
}
.service .menu .btn .start:hover
{
	opacity:1;
}
.service .menu .btn .stop
{
    position: absolute;
    top: 11px;
    left: 0px;
    width: 22px;
    height: 22px;
    cursor:pointer;
    background: transparent url(/Resources/images/stop.png);
    background-size: 22px 22px;
	opacity:0.9;
}
.service .menu .btn .stop_disable
{
    cursor: not-allowed;
    background: transparent url(/Resources/images/stop_disable.png);
}
.service .menu .btn .stop:hover
{
	opacity:1;
}
.service .menu .btn .name
{
    position: absolute;
    top: 11px;
    left: 30px;
    width: 30px;
    height: 22px;
    line-height: 22px;
    font-size: 14px;
    color: #FFFFFF;
}
.service .menu .lately
{
    position: relative;
    float: right;
    right: 0px;
    width: 138px;
    height: 44px;
}
.service .menu .lately .label
{
    position: relative;
    height: 12px;
    width: 100%;
    height: 22px;
    padding-left: 22px;
    font-size: 14px;
    line-height: 22px;
    color: #ffffff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: url(/Resources/images/time.png) center left no-repeat;
}
.service .menu .lately .time
{
    position: relative;
    height: 12px;
    width: 100%;
    font-size: 14px;
    height: 22px;
    line-height: 22px;
    color: #00bab5;
}
.service .menu .running
{
    position:relative;
    width: 380px;
    height: 38px;
    margin:auto;
}
.service .menu .running .label
{
    position: relative;
    float: left;
    width: 24px;
    height: 38px;
    text-align: center;
    line-height: 38px;
    color: #00bab5;
    font-size: 14px;
}
.service .menu .running .num
{
    position: relative;
    float: left;
    width: 38px;
    height: 38px;
    text-align: center;
    line-height: 38px;
    color: #ffffff;
    font-family: led-digital;
    font-size: 26px;
    background: url(/Resources/images/pane.png) center left no-repeat;
}
.service .kpi
{
    position: absolute;
	left: 18px;
	top: 80px;
	right:0px;
	height:140px;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.service .kpi .panel
{
    position:relative;
    float:left;
	width:25%;
	height:100%;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.service .kpi .item
{
    position:absolute;
    top:0px;
    left:0px;
    right:18px;
    bottom:0px;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
}
.service .kpi .item .title
{
    position: absolute;
    top: 14px;
    left: 18px;
    width: 84px;
    height: 30px;
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;
}
.service .kpi .item .icon
{
    position: absolute;
    top: 55px;
    left: 29px;
    width: 60px;
    height: 60px;
}
.service .kpi .item .d_des
{
    position: absolute;
    top: 32px;
    right: 26px;
    width: 160px;
    height: 20px;
    text-align: right;
    color: #FFFFFF;
}
.service .kpi .item .d_chart
{
    position: absolute;
    top: 58px;
    right: 26px;
    width: 134px;
    height: 10px;
    background-color: #558DD4;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}
.service .kpi .item .d_chart_num
{
    position: absolute;
    top: 0px;
    left: 0px;
    height: 10px;
    background-color: #AAC6E9;
    border-top-left-radius: 10px;
    -moz-border-top-left-radius: 10px;
    -webkit-border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    -moz-border-bottom-left-radius: 10px;
    -webkit-border-bottom-left-radius: 10px;
}
.service .kpi .item .d_data
{
    position: absolute;
    top: 69px;
    right: 26px;
    width: 136px;
    height: 50px;
    text-align: right;
    font-size: 36px;
}
.service .kpi .item .p_data
{
    position: absolute;
    top: 52px;
    right: 36px;
    width: 136px;
    height: 50px;
    text-align: right;
    font-size: 36px;
}
.service .kpi .item .p_des
{
    position: absolute;
    top: 36px;
    right: 36px;
    width: 136px;
    height: 20px;
    color: #13345E;
}
.service .kpi .item .c_chart {
    position: absolute;
    top: 23px;
    right: 45px;
    width: 94px;
    height: 94px;
} 
.service .kpi .item .c_chart .num {
    position: absolute;
    left: 7px;
    top: 7px;
    width: 80px;
    height: 80px;
    color: #ffffff;
    font-size: 36px;
    line-height: 80px;
    text-align: center;
    background-color: #32A98D;
    border-radius: 100%;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
}
 .service .kpi .item .c_chart .left {
    position: relative;
    float: left;
    width: 47px;
    height: 94px;
    overflow: hidden;
    background-color: #5BBAA4;
    border-radius: 94px 0 0 94px;
    -moz-border-radius: 94px 0 0 94px;
    -webkit-border-radius: 94px 0 0 94px;
}
 .service .kpi .item .c_chart .right {
    position: relative;
    float: left;
    width: 47px;
    height: 94px;
    overflow: hidden;
    background-color: #5BBAA4;
    border-radius: 0 94px 94px 0;
    -moz-border-radius: 0 94px 94px 0;
    -webkit-border-radius: 0 94px 94px 0;
}
.service .kpi .item .m_chart {
    position: absolute;
    top: 23px;
    right: 45px;
    width: 94px;
    height: 94px;
} 
.service .kpi .item .m_chart .num {
    position: absolute;
    left: 7px;
    top: 7px;
    width: 80px;
    height: 80px;
    color: #ffffff;
    font-size: 36px;
    line-height: 80px;
    text-align: center;
    background-color: #7A63B3;
    border-radius: 100%;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
}
 .service .kpi .item .m_chart .left {
    position: relative;
    float: left;
    width: 47px;
    height: 94px;
    overflow: hidden;
    background-color: #9582C2;
    border-radius: 94px 0 0 94px;
    -moz-border-radius: 94px 0 0 94px;
    -webkit-border-radius: 94px 0 0 94px;
}
 .service .kpi .item .m_chart .right {
    position: relative;
    float: left;
    width: 47px;
    height: 94px;
    overflow: hidden;
    background-color: #9582C2;
    border-radius: 0 94px 94px 0;
    -moz-border-radius: 0 94px 94px 0;
    -webkit-border-radius: 0 94px 94px 0;
}
.service .data
{
    position: absolute;
	left: 18px;
	top: 238px;
	right: 0px;
	bottom:20px;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.service .data .panel
{
    position:relative;
    float:left;
	width:50%;
	height:100%;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.service .data .item
{
    position:absolute;
    top:0px;
    left:0px;
    right:18px;
    bottom:0px;
}
.service .data .item .tbar
{
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 50px;
    padding: 10px;
    background-color: #01234c;
    border: 1px solid #254164;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.service .data .item .tbar .btn_start
{
    position: absolute;
    top: 10px;
    left: 15px;
    width: 80px;
    height: 30px;
    padding-left: 24px;
    line-height: 30px;
    color: #ffffff;
    cursor: pointer;
    opacity: 0.9;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: transparent url(/Resources/images/btn_start.png);
    background-size: 100% 100%;
}
.service .data .item .tbar .btn_start:hover
{
    opacity: 1;
}
.service .data .item .tbar .btn_stop
{
    position: absolute;
    top: 10px;
    left: 15px;
    width: 80px;
    height: 30px;
    padding-left: 24px;
    line-height: 30px;
    color: #ffffff;
    cursor: pointer;
    opacity: 0.9;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: transparent url(/Resources/images/btn_stop.png);
    background-size: 100% 100%;
}
.service .data .item .tbar .btn_stop:hover
{
    opacity: 1;
}
.service .data .item .tbar .btn_search {
    position: relative;
    float: right;
    width: 16px;
    height: 16px;
    margin-left: 10px;
    margin-top: 7px;
    cursor: pointer;
    opacity: 0.9;
}
.service .data .item .tbar .btn_search:hover
{
    opacity:1;
}
.service .data .item .tbar input {
    position: relative;
    float: right;
    width: 150px;
    height: 30px;
    margin-left: 10px;
    padding: 0px 10px;
    font-size: 14px;
    color: #00bab5;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    font-family: Microsoft YaHei;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: transparent;
    border: 1px solid #254164;
}
.service .data .item .tbar .ddl {
    position: relative;
    float: right;
    width: 125px;
    height: 30px;
    margin-left: 9px;
    padding-left: 10px;
    font-size: 14px;
    width: 130px;
    font-family: Microsoft YaHei;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: transparent;
    border: 1px solid #254164;
}
.service .data .item .tb_head
{
    position: absolute;
    top: 49px;
    left: 0px;
    width: 100%;
    height: 42px;
    color: #e6e6e6; 
    border-collapse:collapse;
    background-color: #1a385d;
    border: 1px solid #254164;
}
.service .data .item .tb_head td
{
    border: 1px solid #254164;
    text-align:center;
    font-size:12px;
}
.service .data .item .tb_data
{
    position: absolute;
    top: 90px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    overflow: auto;
    background-color: #01234c;
}
.service .data .item .tb_data::-webkit-scrollbar{
    width:0px;
}
.service .data .item .tb_data table
{
    position:relative;
    width: 100%;
    color: #b3b3b3; 
    border-collapse:collapse;
    border: 1px solid #254164;
}
.service .data .item .tb_data td
{
    border: 1px solid #254164;
    font-size:12px;
}
.service .data .item .tb_data tr:hover
{
    background-color: #1a385d;
}