/* 初始化样式 */
body *{list-style:none;outline:none;font-weight:normal;user-select:none;}
body{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: #fff;
}
.wrapper{
	width: 100%;
	height: 100%;
	overflow: hidden;
}
/* 侧边导航 */
.sidebar{
	width: 240px;
	height: 100%;
	border-right: 1px solid #e0e0e0;
	box-sizing: border-box;
	float: left;
}
.sidebar h2{
	height: 50px;
	line-height: 50px;
	font-size: 18px;
	text-align: center;
	border-bottom: 1px solid #e0e0e0;
	box-sizing: border-box;
}
.sidebar ul{
	height: calc(100% - 50px);
	overflow-y: auto;
}
.sidebar ul li{
	font-size: 14px;
	padding: 10px 20px;
	cursor: pointer;
}
.sidebar ul li.active,.sidebar ul li:hover{background: #f1f1f1;}
/* 主体内容 */
.content{
	width: calc(100% - 240px);
	height: 100%;
	padding: 20px;
	box-sizing: border-box;
	overflow-y: auto;
	float: left;
}
.x-block.small{margin: 15px 0 0 15px;}
/* card */
.layui-card{box-shadow: 0 0 5px #0006;}
.layui-card-header{
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.layui-card-body{
	padding: 0 15px 15px;
	overflow: hidden;
}
/* tips */
.tips{overflow: hidden;}
.tips li{
	height: 14px;
	line-height: 14px;
	font-size: 14px;
	margin-right: 20px;
	float: left;
}
.tips li span{
	width: 14px;
	height: 14px;
	border-radius: 50%;
	margin-right: 5px;
	float: left;
}
/* 空调面板 p1 */
.airPanel{
	width: 450px;
	height: 310px;
	margin: 15px 15px 0 0;
	box-sizing: border-box;
	transform-origin: center 0;
	position:relative;
	float: left;
}
.p1{
	background: url(../../plugin_share_monitor/device/images/p1.png) no-repeat center;
	background-size: 100% 100%;
	/* background: #b1b1b1;
	border: 3px solid #d8d8d8;
	border-radius: 35px;
	box-shadow: 5px 5px 10px rgba(0,0,0,.3); */
}
.p1 .aTop{
	height: 75%;
	position: relative;
	/* border: 1px solid rgba(0,0,0,.2);
	border-bottom: none;
	border-radius: 30px 30px 0 0;
	box-shadow: 5px 0 10px rgba(255,255,255,.3) inset,
				-5px 0 10px rgba(255,255,255,.3) inset;
	box-sizing: border-box;
	background-image: linear-gradient(30deg, #C1D9E5, #DEE6E9); */
}
/* .p1 .aTop::before{
	content: "";
	display: block;
	width: 92%;
	height: 50px;
	border-radius: 20px;
	margin: 0 auto;
	position: relative;
	top: -50px;
	box-shadow: 0 15px 5px rgba(255,255,255,.35);
}
.p1 .aTop::after{
	content: "";
	display: block;
	width: 86%;
	position: absolute;
	top: 40%;
	left: 7%;
	border-top: 1px dashed rgba(255,255,255,.3);
} */
.p1 .aTop > div{
	position: absolute;
	color: #000;
}
.p1 .aTop .key1{
	top: 40px;
	left: 30px;
}
.p1 .aTop .key2{
	top: 60px;
	left: 105px;
}
.p1 .key1 p,.p1 .key2 p{
	width: 35px;
	height: 30px;
	line-height: 15px;
	font-size: 14px;
	color: #00000080;
	margin: 0;
	float: left;
}
.p1 .key1 span,.p1 .key2 span{
	width: 30px;
	height: 30px;
	float: left;
	background: no-repeat;
	background-size: 30px 30px;
}
.p1 .aTop .key3{
	top: 40px;
	right: 30px;
}
.p1 .key3 strong{
	float: left;
	text-align: right;
	font-size: 46px;
	font-family: 'led-digital';
	font-weight: 100;
	position: relative;
	top: -20px;
}
.p1 .key3 div{
	float: left;
	margin-left: 5px;
	font-size: 12px;
}
.p1 .key3 div p{
	padding: 0 5px;
	background: rgba(255,255,255,.4);
	color: #000;
	margin-bottom: -1px;
}
.p1 .key4{
	height: 50px;
	position: absolute;
	top: 130px;
	right: 190px;
}
.p1 .key4 strong{
	float: left;
	font-size: 90px;
	font-family: 'led-digital';
	font-weight: 100;
	position: relative;
	top: -40px;
}
.p1 .key4 div{
	float: left;
	margin-left: 10px;
}
.p1 .key4 div p{
	padding: 0 5px;
	font-size: 12px;
	background: rgba(255,255,255,.4);
	color: #000;
	text-align: center;
	margin-bottom: 17px;
}
.p1 .key4 div span{
	display: block;
	font-size: 22px;
}
.p1 .key5{
	height: 50px;
	position: absolute;
	top: 130px;
	right: 60px;
}
.p1 .key5 p{
	padding: 0 5px;
	font-size: 12px;
	background: rgba(255,255,255,.4);
	color: #000;
	text-align: center;
	margin: 0;
}
.p1 .key5 div{
	position: relative;
	top: -14px;
}
.p1 .key5 div strong{
	font-size: 50px;
	font-family: 'led-digital';
	font-weight: 100;
}
/* 面板下半部分*/
.p1 .aDown{
	height: 25%;
	position: relative;
	/* background: #dedede;
	border-radius: 0 0 30px 30px;
	box-shadow: 5px 0 10px rgba(0,0,0,.1) inset,
				-5px 0 10px rgba(0,0,0,.1) inset;
	box-sizing: border-box;
	border-right: 1px solid #d8d6d6; */
}
.p1 .aDown span{
	position: absolute;
	top: 10px;
	left: 30px;
}
.p1 .aDown span div{
	width: 13px;
	height: 13px;
	background: red;
	border-radius: 50%;
	position: absolute;
	top: 2px;
	left: -17px;
	box-shadow: inset 0 0 5px rgba(201,214,229,1);
}
.p1 .aDown span div:after{
	content: "";
	width: 5px;
	height: 5px;
	display: block;
	background: rgba(0,0,0,0);
	border-radius: 50%;
	box-shadow: -20px 0 3.5px #fff;
	position: absolute;
	top: 2.3px;
	left: 25px;
}
.p1 .aDown ul{
	height: 60px;
	padding: 0;
	margin: 0;
	position: absolute;
	top: 8px;
	right: 10px;
	border-radius: 20px;
}
.p1 .aDown ul > li{
	width: 50px;
	height: 100%;
	float: left;
	cursor: pointer;
	background: no-repeat center;
	background-size: 50px 50px;
	margin-left: 5px;
}
.p1 .aDown ul > li:first-child{border-left: none;}
.p1 .sBtn{
	color: #353535;
	text-align: center;
	margin: 10px;
	padding: 2px 10px;
	background: #dfe7f2;
	border: 1px solid #ccd6e5;
	border-radius: 5px;
	cursor: pointer;
}
/* 空调面板 p2 */
.p2{
	background: #f4f5f7;
	border: 2px solid #cecece;
	border-radius: 15px;
	box-shadow: -5px 5px 10px #00000021;
	padding: 20px;
}
.p2 .aTop{
	height: 100%;
	border: 1px solid #fff;
	border-radius: 8px;
	background-image: linear-gradient(-60deg, #9bccd7 0%, #cbe5f0 60%, #d8eaf4 60%, #daebf5 100%);
	box-shadow: 0 0 10px #00000070 inset;
}
.p2 .aTop::before{
	content: "";
	display: block;
	width: 86%;
	position: absolute;
	top: 28%;
	left: 7%;
	border-top: 1px dashed rgba(255,255,255,.5);
}
.p2 .aTop::after{
	content: "";
	display: block;
	width: 86%;
	position: absolute;
	top: 68%;
	left: 7%;
	border-top: 1px dashed rgba(255,255,255,.5);
}
.p2 .aTop > div{
	position: absolute;
	color: #000;
}
.p2 .aTop .key1{
	top: 40px;
	left: 45px;
}
.p2 .aTop .key2{
	top: 60px;
	left: 120px;
}
.p2 .key1 p,.p2 .key2 p{
	width: 35px;
	height: 30px;
	line-height: 15px;
	font-size: 14px;
	color: #00000080;
	margin: 0;
	float: left;
}
.p2 .key1 span,.p2 .key2 span{
	width: 30px;
	height: 30px;
	float: left;
	background: no-repeat;
	background-size: 30px 30px;
}
.p2 .aTop .key3{
	top: 40px;
	right: 45px;
}
.p2 .key3 strong{
	float: left;
	text-align: right;
	font-size: 46px;
	font-family: 'led-digital';
	font-weight: 100;
	position: relative;
	top: -20px;
}
.p2 .key3 div{
	float: left;
	margin-left: 5px;
	font-size: 12px;
}
.p2 .key3 div p{
	padding: 0 5px;
	background: rgba(255,255,255,.4);
	color: #000;
	margin-bottom: -1px;
}
.p2 .key4{
	height: 50px;
	position: absolute;
	top: 120px;
	right: 190px;
}
.p2 .key4 strong{
	float: left;
	font-size: 90px;
	font-family: 'led-digital';
	font-weight: 100;
	position: relative;
	top: -40px;
}
.p2 .key4 div{
	float: left;
	margin-left: 10px;
}
.p2 .key4 div p{
	padding: 0 5px;
	font-size: 12px;
	background: rgba(255,255,255,.4);
	color: #000;
	text-align: center;
	margin-bottom: 17px;
}
.p2 .key4 div span{
	display: block;
	font-size: 22px;
}
.p2 .key5{
	height: 50px;
	position: absolute;
	top: 120px;
	right: 60px;
}
.p2 .key5 p{
	padding: 0 5px;
	font-size: 12px;
	background: rgba(255,255,255,.4);
	color: #000;
	text-align: center;
	margin: 0;
}
.p2 .key5 div{
	position: relative;
	top: -14px;
}
.p2 .key5 div strong{
	font-size: 50px;
	font-family: 'led-digital';
	font-weight: 100;
}
.p2 .aDown{
	bottom: 40px;
	right: 60px;
}
.p2 .aDown ul{
	padding: 0;
	margin: 0;
	overflow: hidden;
}
.p2 .aDown ul > li{
	width: 40px;
	height: 40px;
	float: left;
	cursor: pointer;
	background: no-repeat center;
	background-size: 30px 30px;
	margin-left: 10px;
}
.p2 .aDown ul > li:first-child{border-left: none;}
.p2 .name{
	position: absolute;
	left: 40px;
	bottom: 60px;
}
.p2 .sBtn{
	color: #353535;
	text-align: center;
	margin: 10px;
	padding: 2px 10px;
	background: #dfe7f2;
	border: 1px solid #ccd6e5;
	border-radius: 5px;
	cursor: pointer;
}
/* 空调面板 p3 */
.p3{
	width: auto;
	background: #f4f5f7;
	border: 1px solid #cecece;
	padding: 20px;
}
.p3 > div{
	height: calc(100% - 48px);
	overflow-y: auto;
}
/* access_open */
#access_open > div{
	float: left;
	height: 100%;
	width: 320px;
}
#access_open .group{
	width: 260px;
	margin-right: 10px;
}
#access_open .layui-form{
	padding: 0;
	box-shadow: none;
}
#access_open .ztree{
	height: calc(100% - 43px);
	border: 1px solid #B4C3D3;
	overflow: auto;
}
#access_open .ztree
/* public */
.layui-form{
	padding: 10px;
	border-radius: 3px;
	box-shadow: 0 0 5px #00000060;
	margin-bottom: 15px;
}
.layui-form-item{margin-bottom: 5px;}
.layui-icon{cursor: pointer;}
.colorpicker{margin: 0 !important;}
.layui-form-select dl{max-height: 180px !important;}
#access_open,#group_open,#state_open,#node_open,#device_open{
	padding: 20px;
	box-sizing: border-box;
}